/*I import a specific font called "Poppins" from Google Fonts. The purpose of this code is to make the "Poppins" font 
available for use on a web page.I am linking the font file hosted on Google Fonts' servers. */
@import url('https://fonts.googlepis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /*the font-family property is set to 'Poppins', sans-serif, 
    which means that the "Poppins" font will be used for the text within the body element. If the "Poppins" font is not available, 
    the browser will fall back to a default sans-serif font.*/
}
body
{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container  .left_side
{ 
    position: relative;
    background: linear-gradient(#5170ff, #ff66c4);
    padding: 40px;
}
.profileText
{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   border-bottom: 1px solid rgba(233, 228, 228, 0.962);
}
.profileText .imagebox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imagebox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
}
.contactInfo.education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 300;
}
.contactInfo.Languages .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    display: block;
    margin-top: 5px;
}
.contactInfo.Languages .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #5170ff;
}
.container  .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    background-color: #5170ff;
}
p
{
    color: #333;
    text-indent: 5%;
    padding-top: 20px;
}
/* .about p2 {
    font-size: 16px;
    line-height: 1.6;
    display: block;
    margin-bottom: 10px;
    text-indent: 1em;
    text-align: justify;
} */
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .details
{
    min-width: 150px;
}
.about .box .details h5
{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}
/* .about .box .text h4
{
    text-transform: uppercase;
    color:#5170ff;
    font-size: 16px;
} */
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4
{
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #5170ff;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa
{
    color: #333;
    font-size: 18px;
}
